global
    maxconn 100
    log /sidecar/log local0

defaults
    log global
    mode http
    option httpclose
    retries 5
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8080

    acl has-react1 path_beg /react1
    acl has-react2 path_beg /react2

    #reqrep ^([^\ ]*\ /)web1[/]?(.*)     \1\2 if has_web1
    #reqrep ^([^\ ]*\ /)web2[/]?(.*)     \1\2 if has_web2

    use_backend react1 if has-react1
    use_backend react2 if has-react2

    default_backend react1

backend web1
    reqrep ^([^\ ]*\ /)web1[/]?(.*)     \1\2
    server react1 react1:8080 check

backend web2
    reqrep ^([^\ ]*\ /)web2[/]?(.*)     \1\2
    server react2 react2:8080 check